spring:
  application:
    name: heating-service
    version: @project.version@
  profiles:
    active: home
  webflux:
    base-path: "/home/heating"
  rabbitmq:
    host: rabbitmq-headless
    port: 5672
    username: temperature
    password: ${rabbitmq-password:dummyPassword}
    virtual-host: /temperature
    connection-timeout: 10s
    requested-heartbeat: 10s
  datasource:
    host: ${database-host:localhost}
    port: ${database-port:1433}
    database: ${database-name:dummyName}
    username: ${database-user:dummyUser}
    password: ${database-password:dummyPassword}
  flyway:
    url: ${flyway-url:localhost}
    user: ${database-user:dummyUser}
    password: ${database-password:dummyPassword}
    enabled: on
  jpa:
    show-sql: true

server:
  port: 6200

logbook:
  format:
    style: http

logging:
  level:
    org.zalando.logbook: off

rabbitmq:
  queue:
    name: temperature.prod.heating

shelly:
  actor:
    pro4:
      down_left:
        host: 10.78.30.39
      down_right:
        host: 10.78.30.19
      up_left:
        host: 10.78.30.89
      up_right:
        host: 10.78.30.26

---

spring:
  config:
    activate:
      on-profile: local
  rabbitmq:
    host: localhost

server:
  port: 6002
management:
  server:
    port: 8002

rabbitmq:
  queue:
    name: temperature.dev.heating

---

spring:
  config:
    activate:
      on-profile: test
  flyway:
    enabled: false
