spring:
  application:
    name: heating-service
    version: @project.version@
  profiles:
    active: home
  webflux:
    base-path: "/home/heating"
  rabbitmq:
    host: rabbitmq-headless
    port: 5672
    username: temperature
    password: ${rabbitmq-password:dummyPassword}
    virtual-host: /temperature
    connection-timeout: 10s
    requested-heartbeat: 10s
  datasource:
    host: ${database-host:localhost}
    port: ${database-port:1433}
    database: ${database-name:dummyName}
    username: ${database-user:dummyUser}
    password: ${database-password:dummyPassword}
  flyway:
    url: ${flyway-url:localhost}
    user: ${database-user:dummyUser}
    password: ${database-password:dummyPassword}
    enabled: on
  jpa:
    show-sql: true

server:
  port: 6200

logbook:
  format:
    style: http

logging:
  level:
    org.zalando.logbook: off

rabbitmq:
  queue:
    name: temperature.prod.heating

shelly:
  actor:
    scheme: http
    port: 80
    pro4:
      down_left:
        host: 10.78.30.39
      down_right:
        host: 10.78.30.19
      up_left:
        host: 10.78.30.89
      up_right:
        host: 10.78.30.26
    relay:
      heater:
        office: 3
        tobi: 2
        livia: 1
        bedroom: 0
        bathroom_up: 3
        living_room: 1
        cinema: 1
        bathroom_down: 3
        entrance: 0
        garage: 2
      floor:
        wardrobe: 2
        bathroom_up: 1
        living_room: 0
        bathroom_down: 2

---

spring:
  config:
    activate:
      on-profile: local
  rabbitmq:
    host: localhost

server:
  port: 6002
management:
  server:
    port: 8002

rabbitmq:
  queue:
    name: temperature.dev.heating

---

spring:
  config:
    activate:
      on-profile: test
  flyway:
    enabled: false
